body {
  background-color: #f3eae3;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  background-color: white;
  border-radius: 2em;
  max-width: 70%;
  margin: auto;
}

.img {
  border-radius: 2em;
}

img {
  max-width: 100%;
  height: 100%;
  border-radius: 2em 0 0 2em;
}

.product {
  font-family: "";
}
