@import "tailwindcss";
/* @font-face {
  font-family: 'Montserrat';
  src: url('./styles/fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
  url('./styles/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal, italic;
} */

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-color: white;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

button {
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5em 1em;
}
